{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'script.js' %}"></script>
    <title>Add your task to the queue</title>
</head>
<body>
    <header>
        <div>
        </div>
    </header>
    <main>
        <section>
            <div>
                <button id="add_task" name="add_task">Add task</button>
            </div>
        </section>
        <section>
            <div>
                <a href="task_list">See list of all task</a>
            </div>
        </section>
    </main>
</body>
</html>